body{
    background-color:black;
    color:whitesmoke;
}

.header-block{
    text-align: center;
    vertical-align: center;
}

#nameInput {
    float:left;
  }
  
  #messageInput {
    width:100%;
    border-left: 0;
    border-right: 0;
    float:left;
  
  }


.chat {
    margin: 0;
  }

  .p1rps{
    width:100px;
  }

  .p2rps{
    width:100px;
  }
 

  #player1-rps{
    text-align:center;
  }

  #player2-rps{
    text-align:center;
  }